# 第一节 分布数列

## 实验2-1 连续变量分布数列的编制

50个电池寿命如下，请对其寿命编制分布数列，并进行向上和向下累计

In [4]:
import numpy as np
import pandas as pd

In [10]:
life_df = pd.read_excel('2-1.xlsx')
life_df.head()

   Hours
0    996
1    942
2    957
3   1400
4   1623

In [11]:
life_df.describe()

             Hours
count    50.000000
mean   1257.700000
std     277.948553
min     804.000000
25%    1002.500000
50%    1286.000000
75%    1540.250000
max    1689.000000

In [13]:
# 利用pandas的cut方法进行分组

# 这个bins区间，是根据这组数的范围选择的，看情况。
# right=False 表明上限不在内
bins = range(800,1701,100) 
life_bin_df = pd.cut(life_df['Hours'],bins,right=False)
life_bin_df = life_bin_df.value_counts().to_frame(name='value_counts').sort_index()
life_bin_df

              value_counts
[800, 900)               6
[900, 1000)              7
[1000, 1100)             5
[1100, 1200)             4
[1200, 1300)             4
[1300, 1400)             5
[1400, 1500)             5
[1500, 1600)             8
[1600, 1700)             6

In [14]:
# 计算频率、向上累计及向下累计，看结果就很容易理解了。

life_bin_df.loc[:,'percentage'] = life_bin_df.loc[:,'value_counts']/life_bin_df.loc[:,'value_counts'].sum()
life_bin_df.loc[:,'cumsum_up'] = life_bin_df.loc[::,'value_counts'].cumsum()
life_bin_df.loc[:,'cumsum_down'] = life_bin_df.loc[::-1,'value_counts'].cumsum()
life_bin_df

              value_counts  percentage  cumsum_up  cumsum_down
[800, 900)               6        0.12          6           50
[900, 1000)              7        0.14         13           44
[1000, 1100)             5        0.10         18           37
[1100, 1200)             4        0.08         22           32
[1200, 1300)             4        0.08         26           28
[1300, 1400)             5        0.10         31           24
[1400, 1500)             5        0.10         36           19
[1500, 1600)             8        0.16         44           14
[1600, 1700)             6        0.12         50            6

## 实验2-2 离散变量分布数列的编制

这个没啥，看着就能明白

In [15]:
eval_df = pd.read_excel('2-2.xlsx')
eval_df

   Eval
0     O
1     O
2     O
3     V
4     V
5     V
6     O
7     O
8     O
9     A
10    A
11    A
12    A
13    G
14    G
15    V
16    V
17    A
18    A
19    A

In [17]:
eval_df['Eval'].value_counts()

A    7
O    6
V    5
G    2
Name: Eval, dtype: int64

总结：其实就是 value_counts()这个函数的运用

# 第二节 统计图

这个教程很多，这里写的也很简单，就省略不写了。唯一要注意的是matplotlib中文显示问题。这里给出一种方法。

In [19]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif'] = ['SimHei'] # 步骤一（替换sans-serif字体）
plt.rcParams['axes.unicode_minus'] = False   # 步骤二（解决坐标轴负数的负号显示问题）
plt.rcParams['savefig.dpi'] = 100 # 图片质量

# 第三节 描述统计量

描述统计量是什么，就不过多赘述了，哪一个指标忘记了，上网搜索即可。这部分内容比较简单，通常一个函数即可。

## 实验2-7 计算描述统计量

In [21]:
import numpy as np
import pandas as pd

In [22]:
score_df = pd.read_excel('2-7.xlsx')
score_df

    Score
0      95
1      63
2      78
3      94
4      60
5      96
6      83
7      68
8      88
9      90
10     95
11     93
12     67
13     83
14     82
15     72
16     85
17     81
18     61
19     87

In [24]:
# 平均数
score_df['Score'].mean()

81.05

In [25]:
# 中位数
score_df['Score'].median()

83.0

In [26]:
# 众数
score_df['Score'].mode()

0    83
1    95
dtype: int64

In [38]:
# 标准差
source_std = score_df['Score'].std()
source_std

12.010850357730277

In [28]:
# 方差
score_df['Score'].var()

144.26052631578952

In [29]:
# 峰度
score_df['Score'].kurt()

-1.0283438185619334

In [30]:
# 偏度
score_df['Score'].skew()

-0.5077502334495104

In [31]:
# 最大值
score_df['Score'].max()

96

In [32]:
# 最小值
score_df['Score'].min()

60

In [34]:
# 区域
score_area = score_df['Score'].max() - score_df['Score'].min()
score_area

36

In [35]:
# 求和
score_df['Score'].sum()

1621

In [37]:
# 观测数
score_count = score_df['Score'].count()
score_count

20

In [41]:
# 标准误差
score_se = source_std  / (np.sqrt(score_count))
score_se

2.6857077867462564

In [42]:
# 置信度（95%）
score_confidence = 2.005745995 * score_se
score_confidence

5.386847637006618

## 实验2-8 使用分类汇总计算描述统计量

请按子公司分类统计员工的平均销售量

In [44]:
sale_df = pd.read_excel('2-8.xlsx')
sale_df

    子公司   员工 性别   销售量
0  子公司1   A1  男  1009
1  子公司1   A2  男  2125
2  子公司2   A3  男  1157
3  子公司2   A4  女  2045
4  子公司2   A5  女  2964
5  子公司3   A6  男  2769
6  子公司3   A7  女  1665
7  子公司4   A8  女  2745
8  子公司4   A9  男  1415
9  子公司4  A10  男  1306

In [47]:
# 使用pandas的groupby进行分组聚类，并计算每组平均值
sale_grounped = sale_df['销售量'].groupby(sale_df['子公司'])
sale_grounped.mean()
# 还可以用sum、count等方法进行不同的分类汇总

子公司
子公司1    1567.000000
子公司2    2055.333333
子公司3    2217.000000
子公司4    1822.000000
Name: 销售量, dtype: float64

## 实验2-9 使用数据透视表方法计算描述统计量

根据实验2-8的数据，请按所在子公司和性别，对员工的平均销售量进行统计

In [48]:
# 使用pandas中的pivot_table
pd.pivot_table(sale_df,index=['子公司','性别'],values=['销售量'],aggfunc=np.mean)

            销售量
子公司  性别
子公司1 男   1567.0
子公司2 女   2504.5
     男   1157.0
子公司3 女   1665.0
     男   2769.0
子公司4 女   2745.0
     男   1360.5

In [50]:
# 使用pandas中的pivot_table，aggfunc参数可接受一个列表，进行各类统计汇总
pd.pivot_table(sale_df,index=['子公司','性别'],values=['销售量'],aggfunc=[np.sum,np.mean,len])

          sum    mean len
          销售量     销售量 销售量
子公司  性别
子公司1 男   3134  1567.0   2
子公司2 女   5009  2504.5   2
     男   1157  1157.0   1
子公司3 女   1665  1665.0   1
     男   2769  2769.0   1
子公司4 女   2745  2745.0   1
     男   2721  1360.5   2

In [58]:
# 使用pandas中的pivot_table，fill_value参数对空值进行填充，这里=0就是填充为0，margins设置为True则增加汇总列，columns就是列
pd.pivot_table(sale_df,
               index=['子公司'],
               columns=['性别'],
               values=['销售量'],
               aggfunc=np.mean,
              fill_value=0,
              margins=True)

          销售量
性别          女            男          All
子公司
子公司1     0.00  1567.000000  1567.000000
子公司2  2504.50  1157.000000  2055.333333
子公司3  1665.00  2769.000000  2217.000000
子公司4  2745.00  1360.500000  1822.000000
All   2354.75  1630.166667  1920.000000

## 实验2-10 计算分组资料的描述统计量

个人认为，这一部分书上介绍的意义不大。
下表中，x是每组的中位数，f是每组的数量。
书上要求利用x与f来计算平均值，标准差，偏度以及峰度。
主要是考察对公式的掌握。

In [61]:
lamp_life_df = pd.read_excel('2-10.xlsx')
lamp_life_df

        bins     x   f
0     1000以下   900   2
1  1000-1200  1100   8
2  1200-1400  1300  16
3  1400-1600  1500  35
4  1600-1800  1700  23

In [63]:
# 平均数
lamp_life_mean = (lamp_life_df['x']*lamp_life_df['f']).sum()/lamp_life_df['f'].sum()
lamp_life_mean

1464.2857142857142

In [67]:
# 标准差
lamp_life_std = np.sqrt((((lamp_life_df['x']-lamp_life_mean)**2)*lamp_life_df['f']).sum()/lamp_life_df['f'].sum())
lamp_life_std

202.7447710222652

In [70]:
# 三阶动差,为计算偏度做准备
lamp_life_three = (((lamp_life_df['x'] - lamp_life_mean)**3)*lamp_life_df['f']).sum()/lamp_life_df['f'].sum()
lamp_life_three

-6121720.116618068

In [71]:
# 四阶动差，为计算峰度做准备
lamp_life_four = (((lamp_life_df['x'] - lamp_life_mean)**4)*lamp_life_df['f']).sum()/lamp_life_df['f'].sum()
lamp_life_four

5075925829.515478

In [72]:
# 偏度
lamp_life_skew = lamp_life_three/(lamp_life_std**3)
lamp_life_skew

-0.734555277612486

In [75]:
# 峰度
lamp_life_kurt = lamp_life_four/lamp_life_std**4 - 3
lamp_life_kurt

0.0041154496430850784

## 总结

第二章作为初始的章节，基本没有难度，需要掌握的理论也比较少。但是这些基本指标，为后面进一步计算打下基础，不能忽视。